{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Стоимость заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
			<th>Комментарий</th>
			<th>Статус заказа</th>
			<th>Способ оплаты</th>
			<th>Ресторан</th>
			<th>Редактировать</th>
    </tr>

    {% for order in orders %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.cost }}</td>
        <td>{{ order.client }}</td>
        <td>{{ order.phonenumber }}</td>
        <td>{{ order.address }}</td>
				<td>{{ order.comment }}</td>
				<td>{{ order.order_status }}</td>
				<td>{{ order.payment_method }}</td>
				<td> 
				{% if not	order.chosed_restaurant %}
				  {% if order.restaurants %}
					Заказ может быть приготовлен в ресторанах:
             {% for restaurant in order.restaurants %}
                 <li>{{ restaurant }}</li>
              {% endfor %}
          {% else %}
             Подходящие рестораны не найдены
          {% endif %}
				{% else %}
          <li>Готовится в {{ order.chosed_restaurant }}</li>
					<li>Расстояние до ресторана {{ order.chosed_restaurant_distance }} км</li>
        {% endif %}
				</td>
				<td><a href="{{ order.edit_order }}?next={{ order.current_url|urlencode}}">Редактировать</a></td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
